@import "bootstrap"

.section
  max-width: 1200px
  margin: auto
  position: relative

.alphabet 
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  margin: 40px 0
  &-title
    color: black
    flex-basis: 100%
    text-align: center
  &-letters
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
  a
    color: #29004e
    padding: 5px 10px

.catalog_diclaimer
  text-align: center
  color: #bbb
  font-size: 14px
  border: 1px solid #bbb
  max-width: 1200px
  margin: 0px auto 10px
  padding: 7px
  font-weight: 600

  a
    color: #bbb
    font-size: 14px
    font-weight: 600

.leaf_title
  margin: 10px 0
  padding: 0
  font-size: 22px
  font-weight: bold
  color: #29004e
  line-height: 36px
  text-align: center
  text-transform: uppercase
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    z-index: 0
    border-bottom: 1px solid #00963E
    top: 17px
    width: 300%
    margin-left: -100%

  &>*
    display: inline-block
    padding: 0 25px 0 10px
    background-color: #fff
    position: relative
    text-transform: uppercase
    color: #29004e
    font-size: 22px
    line-height: 27px
    font-weight: bold
    &:after
      content: ''
      height: 17px
      width: 17px
      background-color: #00963E
      display: block
      position: absolute
      top: -10px
      right: 5px
      border-top-left-radius: 17px
      border-bottom-right-radius: 17px


.header-logo
  max-height: 75px

.header-top-row
  height: 40px

.header-main-row
  position: relative
  height: 100px

  .green-bg-header
    position: absolute
    background-color: #00963e
    width: 100%
    left: -50%
    top: 0
    height: 100%
    z-index: -1

    &:after
      content: ''
      width: 80px
      background-color: #fff
      position: absolute
      left: calc(100% - 35px)
      transform: skew(-20deg)
      height: 100%

  input[type='text']
    border-color: #00963E
    width: 100%
    height: 40px
    border-radius: 20px
    outline: none
    padding: 0 10px

.header-menu
  height: 65px

  &__item
    cursor: pointer
    color: #333333
    text-decoration: none
    flex: 1
    justify-content: center
    padding: 0
    position: relative

    &:hover
      background-color: #00963e
      color: #fff

    &:not(:last-child):not(:hover):after
      content: ''
      position: absolute
      border-right: 1px solid #00963E
      height: 45px
      right: -1px
      top: 10px

    & > div
      width: 100%
      text-align: center

.product
  outline: 1px solid #d1d1d1
  position: relative
  display: inline-block
  padding: 10px
  margin: 15px 0
  width: 100%
  max-width: 240px
  box-sizing: border-box
  &__top-row
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 2
  &__badge
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #fff
    padding: 15px 0 15px
    width: 50px
    background-color: #5f29a5
    position: relative
    text-align: center
    &:after
      content: ""
      height: 20px
      transform: skew(0, 20deg)
      margin-top: 5px
      background: #5f29a5
      display: block
      position: absolute
      width: 100%
      z-index: -1

footer
    background: #00963E
    margin-top: 60px
