@import "bootstrap"

$AS-green: #00963E
$AS-purple: #29004e
$AS-grey: #3c3c3d
$AS-lightgrey: #d1d1d1
$AS-orange: #fa8a07

.section
  max-width: 1200px
  margin: auto
  position: relative

.alphabet 
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: center
  margin: 40px 0
  &-title
    color: black
    flex-basis: 100%
    text-align: center
  &-letters
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
  a
    color: $AS-purple
    padding: 5px 10px

.catalog_diclaimer
  text-align: center
  color: #bbb
  font-size: 14px
  border: 1px solid #bbb
  max-width: 1200px
  margin: 0px auto 10px
  padding: 7px
  font-weight: 600

  a
    color: #bbb
    font-size: 14px
    font-weight: 600

.leaf_title
  margin: 10px 0
  padding: 0
  font-size: 22px
  font-weight: bold
  color: $AS-purple
  line-height: 36px
  text-align: center
  text-transform: uppercase
  position: relative
  overflow-x: hidden

  &:before
    content: ''
    display: block
    position: absolute
    z-index: 0
    border-bottom: 1px solid $AS-green
    top: 17px
    width: 300%
    margin-left: -100%

  &>*
    display: inline-block
    padding: 0 25px 0 10px
    background-color: #fff
    position: relative
    text-transform: uppercase
    color: $AS-purple
    font-size: 22px
    line-height: 27px
    font-weight: bold
    &:after
      content: ''
      height: 17px
      width: 17px
      background-color: $AS-green
      display: block
      position: absolute
      top: -10px
      right: 5px
      border-top-left-radius: 17px
      border-bottom-right-radius: 17px


.header-logo
  max-height: 75px

.header-top-row
  height: 40px

.header-main-row
  position: relative
  height: 100px

  .green-bg-header
    position: absolute
    background-color: $AS-green
    width: 100%
    left: -50%
    top: 0
    height: 100%
    z-index: -1

    &:after
      content: ''
      width: 80px
      background-color: #fff
      position: absolute
      left: calc(100% - 35px)
      transform: skew(-20deg)
      height: 100%

  input[type='text']
    border-color: $AS-green
    width: 100%
    height: 40px
    border-radius: 20px
    outline: none
    padding: 0 10px

.header-menu
  height: 65px

  &__item
    cursor: pointer
    color: #333333
    text-decoration: none
    flex: 1
    justify-content: center
    padding: 0
    position: relative

    &:hover
      background-color: $AS-green
      color: #fff

    &:not(:last-child):not(:hover):after
      content: ''
      position: absolute
      border-right: 1px solid $AS-green
      height: 45px
      right: -1px
      top: 10px

    & > div
      width: 100%
      text-align: center

.banners-slider
  width: 100%
  overflow: hidden

.product
  outline: 1px solid $AS-lightgrey
  position: relative
  display: inline-block
  padding: 10px
  margin: 15px 0
  width: 100%
  max-width: 240px
  box-sizing: border-box
  color: $AS-grey
  text-decoration: none
  &__img
    width: 100%
    margin-top: 25px
  &__top-row
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 2
  &__fav-btn
    background-image: url("~/public/img/icons/fav.png")
    height: 25px
    width: 25px
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    margin: 10px 0 0 10px
    &__active
      background-image: url("~/public/img/icons/fav_a.png")
  &__badge
    font-weight: bold
    font-size: 18px
    line-height: 21px
    color: #fff
    padding: 15px 0 15px
    width: 50px
    background-color: #5f29a5
    position: relative
    text-align: center
    left: -10px
    &:after
      content: ""
      height: 20px
      transform: skew(0, 20deg)
      margin-top: 5px
      background: #5f29a5
      display: block
      position: absolute
      width: 100%
      z-index: -1
  &__inner-name
    text-align: center
    height: 50px
  &__card-old-price
    text-decoration: line-through
  &__price_and_2cart
    margin-top: 10px
  &__card-final-price
    color: $AS-purple
    font-weight: bold
  &__add2cart-btn
    background-image: url("~/public/img/icons/cart-w.svg")
    background-color: $AS-orange
    width: 60px
    height: 30px
    border-radius: 15px
    background-size: 20px
    background-position: center
    background-repeat: no-repeat


.product__inner-rating-wrap
  height: 15px
  .rating-star
    margin: 0 1px
    background-size: contain
    height: 15px
    width: 15px
    font-size: 0
    background-image: url("~/public/img/icons/star-grey.svg")
    &.active
      background-image: url("~/public/img/icons/star-yellow.svg")

footer
    background: $AS-green
    margin-top: 60px
