<div class="header__links d-flex justify-content-around align-items-center">
    <a href="/cart/" class="header__cart">
        <sup>0</sup>
    </a>
    <a href="/favorites/" class="header__favs">
        <sup>0</sup>
    </a>
    <a href="/personal/" class="header__personal">
        <sup>Вход</sup>
    </a>
</div>
