<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>

<a class="col-auto header-menu__item align-items-center d-flex">
    <div>
        Пункт меню
    </div>
</a>