<div class="d-flex align-items-center justify-content-center">
    {% set i = 0 %}
    {% for i in 1..5 %}
        <div class="rating-star {% if i <= rating %} active {% endif %}">
                {{ i }}
        </div>
    {% endfor %}
</div>