<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ encore_entry_link_tags('app') }}">
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="container">
            <div class="header-top-row row">
                {% include '__components/header_top_row.html.twig' %}
            </div>

            <div class="header-main-row row">
                <div>
                    <img src="https://asevalar.ru.22.evalar.tech/local/templates/asevalar/img/icons/as-text-logo-white.svg">
                </div>
                {% include '__components/header_search.html.twig' %}
                {% include '__components/header_cart.html.twig' %}
                {% include '__components/header_favs.html.twig' %}
                {% include '__components/header_personal.html.twig' %}
                <div>
                    <img src="https://asevalar.ru.22.evalar.tech/local/templates/asevalar/img/icons/LOGO_30.svg">
                </div>
            </div>

            <div class="header-menu row">
                {% include '__components/header_catalog_menu.html.twig' %}
            </div>
        </header>

        {% block body %}
        {% endblock %}
    </body>
</html>
