{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mainpage">
        <h1>
            Н1 заголовок
        </h1>

        <div class="mainpage__intro-text">
            Интро
        </div>

        <div class="mainpage__benefits mt-4">
            <h2>Преимущества</h2>

            <div class="mainpage__benefits-bullits">
                <div>- Преимущество 1</div>
                <div>- Преимущество 2</div>
                <div>- Преимущество 3</div>
            </div>

        </div>
    </div>
{% endblock %}
