{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Главная страница каталога
{% endblock %}

{% block body %}
    <h1>
        Главная страница каталога
    </h1>
{% endblock %}
